.wrapper_pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn_pagination {
  display: grid;
  place-content: center;
  place-items: center;

  width: 3.125rem;
  height: 3.125rem;
  background-color: transparent;
  border: 0.125rem solid #919aa2;
  border-radius: 0.25rem;
  color: #0e2b5c;
  transition: 0.3s;
  font: 700 1.5rem "Roboto", sans-serif;
  line-height: 0;
}

.btn_pagination.active,
.btn_pagination:hover {
  border: 0.125rem solid #00c756;
  background-color: #00c756;
  color: white;
}

.btn_arrow {
  margin-left: 0.5rem;
}

.btn_arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn_arrow:hover:disabled {
  background-color: transparent;
  border: 0.125rem solid #919aa2;
  color: #0e2b5c;
}

@media (max-width: 500px) {
  .wrapper_pagination {
    gap: 0.8rem;
  }
  .btn_pagination {
    width: auto;
    height: max-content;
    font-size: 1rem;
    padding: 1.2rem 0.9rem;
  }

  .btn_pagination.btn_arrow {
    padding: 0.7rem;
  }
}
