.header {
  background: #3c5604 url("../../assets/donation-bg.png") no-repeat center /
    cover;
}

.wrapper_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.25rem;
  padding: 0 1.5rem;
  padding-bottom: 7.15rem;
}

.textsContainer {
  flex: 1 0 25rem;
}

.paragraphs {
  display: grid;
  gap: 2rem;
}

.paragraph {
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.7rem;
  color: #9b9b9b;
}

.wrapper_imgs {
  display: flex;
  gap: 1.87rem;
  align-self: center;
}

.wrapper_img {
  max-width: 19.5rem;
  height: 29.1875rem;
}

.img_people {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper_img2 {
  position: relative;
  transform: translateY(2rem);
}

.donation_wrapper {
  display: grid;
  gap: 1rem;
  place-items: center;
  text-align: center;
  border-radius: 0 4px;
  background: #00c756;
  padding: 1.9rem 1.75rem;
  margin-left: 5.75rem;
  color: white;

  position: absolute;
  bottom: 0;
}

.donation_wrapper svg {
  width: 3.875rem;
  height: 3.875rem;
}

.donation_paragraph {
  font: 700 1.0625rem "Roboto", sans-serif;
  line-height: 1.4875rem;
  letter-spacing: 0.01875rem;
}

.wrapper_donation_content {
  display: grid;
  place-content: center;
  gap: 5rem;
  text-align: center;
  background: #f6f7f8;
  padding: 3.63rem 1.5rem;
  padding-bottom: 10.56rem;
}

.wrapper_text_donation {
  display: grid;
  gap: 0.5rem;
}

.wrapper_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.wrapper_card_donation {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  padding: 4rem 6rem;
}

.wrapper_icon_donation {
  border-radius: 50%;
  padding: 1.19rem;
}

.icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}

.wrapper_icon_donation.pix {
  background-color: #32bcad26;
  color: #32bcad;
}

.wrapper_icon_donation.vakinha {
  background-color: #00a65126;
}

.title_donation {
  font: 500 1.5rem "IBM Plex Sans", sans-serif;
  line-height: 1.75rem;
  color: #0e2b5c;
}

.description_donation {
  color: #9b9b9b;
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.5rem;
}

.btn_donation {
  display: block;
  margin-top: 1rem;
  color: white;
  font: 700 0.875rem "Roboto", sans-serif;
  line-height: 1.4rem;
  padding: 0.7rem 2.25rem !important;
}

.btn_donation:hover {
  background-color: #0e2b5c;
}

/* Modal */
.container_modal {
  display: grid;
  place-content: center;
  background: rgba(22, 22, 27, 0.67);
  padding: 0 1.19rem;

  position: fixed;
  inset: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
}

.modal {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  text-align: left;
  max-width: 37.25rem;
  width: 100%;
  animation: zoomModal 300ms;
}

@keyframes zoomModal {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

.btn_close_modal {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: 0;
  line-height: 0;
  color: #00c756;
}

.btn_close_modal svg {
  width: 1.5rem;
  height: 1.5rem;
}

.title_modal {
  color: #1e1e1e;
  font: 700 1.5rem "IBM Plex Sans", sans-serif;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 0.75rem;
}

.paragraph_modal {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.wrapper_pix {
  display: grid;
  gap: 0.75rem;
}

.subtitle_pix {
  color: #1e1e1e;
  font: 700 1rem "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.0125rem;
}

.pix_label,
.pix {
  color: #718096;
  font: 500 1rem "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.0125rem;
}

.pix,
.whatsapp_link {
  color: #00c756;
  cursor: pointer;
}

.whatsapp_link {
  text-decoration: underline;
}

.line {
  margin: 1.5rem 0;
  border: 0.0625rem solid #e2e8f0;
}

.qr_code_wrapper {
  margin: 0.5rem auto 1.69rem auto;
  max-width: 9.3125rem;
  max-height: 9.375rem;
}

.qr_code_wrapper {
  display: block;
}

.btn_modal {
  font: 700 0.875rem "Roboto", sans-serif;
  line-height: 1.4rem;
  color: white;
  width: 100%;
}
.btn_modal:hover {
  background-color: #0e2b5c;
}

@media (max-width: 630px) {
  .wrapper_donation_content {
    padding-bottom: 3.5rem;
  }
  .wrapper_content {
    gap: 3rem;
    padding-bottom: 5rem;
  }
  .textsContainer {
    max-width: initial !important;
    flex: 1 0 100%;
  }
  .wrapper_imgs {
    gap: 0.95rem;
  }
  .wrapper_img {
    min-height: 14.858rem;
    min-width: 9.9rem;
    height: auto;
  }
  .donation_wrapper {
    padding: 0.95rem 0.89rem;
    gap: 0.5rem;
    margin-left: 1.5rem;
    max-width: 10rem;
    width: 100%;
    right: 0;
  }
  .donation_wrapper svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .donation_paragraph {
    font-size: 0.875rem;
    line-height: 1.2rem;
  }
  .wrapper_donation_content {
    gap: 2.38rem;
  }
}

@media (max-width: 430px) {
  .paragraphs {
    gap: 1.5rem;
  }
  .donation_wrapper {
    max-width: 8rem;
    margin-left: 0;
  }
  .donation_wrapper svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .donation_paragraph {
    font-size: 0.625rem;
    line-height: 1rem;
  }
  .wrapper_card_donation {
    padding: 2.6rem 3rem;
  }

  /* Modal */
  .modal {
    padding: 1.2rem;
  }
  .title_modal {
    font-size: 1rem;
  }
  .paragraph_modal {
    margin-bottom: 1.12rem;
  }
  .paragraph_modal,
  .pix_label,
  .pix {
    font-size: 0.85rem;
  }
  .subtitle_pix {
    font-size: 0.875rem;
  }
  .wrapper_pix {
    gap: 0.25rem;
  }
  .qr_code_wrapper {
    margin-bottom: 0.58rem;
  }
}

@media (max-width: 359px) {
  .wrapper_content {
    gap: 2rem;
    padding-bottom: 4rem;
  }
  .wrapper_img {
    min-height: initial;
    min-width: initial;
  }
}
