.main_container {
  overflow-x: hidden;
}

.header {
  background: #3c5604 url('../../assets/imgs/donation/bg-header-donation.webp')
    no-repeat center / cover;
}


.donation_wrapper {
  display: grid;
  gap: 1rem;
  place-items: center;
  text-align: center;
  border-radius: 0 4px;
  background: #00c756;
  padding: 1.9rem 1.75rem;
  max-width: 13.75rem;
  color: white;

  position: absolute;
  bottom: 0;
  right: 0;
}

.donation_wrapper svg {
  width: 3.875rem;
  height: 3.875rem;
}

.donation_paragraph {
  font: 700 1.0625rem 'Roboto', sans-serif;
  line-height: 1.4875rem;
  letter-spacing: 0.01875rem;
}

@media (max-width: 630px) {
  .donation_wrapper {
    padding: 0.95rem 0.89rem;
    gap: 0.5rem;
    margin-left: 1.5rem;
    max-width: 10rem;
    width: 100%;
    right: 0;
  }

  .donation_wrapper svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .donation_paragraph {
    font-size: 0.875rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 430px) {
  .donation_wrapper {
    max-width: 8rem;
    margin-left: 0;
  }
  .donation_wrapper svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .donation_paragraph {
    font-size: 0.625rem;
    line-height: 1rem;
  }

}
