.carousel_wrapper {
  position: relative;
  padding-right: 1.5rem;
  border-radius: 0.25rem;
  max-width: 35.4rem;
}

.carousel_wrapper .wrapper_img {
  height: 26.375rem;
}

.carousel_wrapper .wrapper_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experiences_wrapper {
  position: absolute;
  bottom: 2.5rem;
  right: -2.2rem;
  background-color: #00c756;
  color: white;
  border-radius: 0.25rem;
  padding: 4rem 1.2rem;
  font: 600 1rem 'IBM Plex Sans', sans-serif;
  text-align: center;
  z-index: 20;
}

.experience_number {
  display: block;
  font-size: 4.1875rem; /* 67px */
  line-height: 6.4375rem; /* 103.24px */
}

.legend_experience_number {
  font-size: 1.06rem;
  line-height: 1.7rem; /* 27px */
}

@media (max-width: 630px) {
  .experiences_wrapper {
    bottom: 0;
    left: 0;
    right: auto;
    padding: 2.2rem;
  }
}
