.wrapper {
  display: flex;
  justify-content: center;
  gap: 2.75rem;
  align-items: center;
  padding: var(--padding);
}

.btnColeta {
  width: max-content;
  color: white;
  display: flex;
  align-items: center;
  gap: 1.625rem;
}

.btnColeta:hover {
  background: #0e2b5c;
  transform: translateY(-4px);
}

@media (max-width: 1023px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 630px) {
  .wrapper {
    justify-content: start;
    padding: 3rem 1.5rem;
  }
  .btnColeta {
    font-size: 0.75rem !important;
  }
}
