.idDepoiments {
  background: url("../../../assets/fundoDepoiments.png") no-repeat center /
    cover;
  height: 40.5rem;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-bottom: 10rem;
}

.content {
  color: #fff;
  max-width: 1220px;
  position: relative;
}

.textsContainer {
  position: absolute;
  left: 0;
}

.titleFeedback {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.375rem;
}

.paragraph {
  font: 500 1.0625rem "Roboto", sans-serif;
  line-height: 1.6875rem;
}

.btnFeedback {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: max-content;
  color: #e7ebef;
}

.btnFeedback a {
  display: flex;
  gap: 1.6rem;
}

.btnFeedback:hover {
  background: #ffffff;
  color: #0e2b5c;
  transform: translateY(-4px);
}

.carousel_wrapper {
  position: relative;
  right: -694px;
  width: 100vw;
  height: 23.75rem;
  overflow: hidden;
}

.carousel {
  position: absolute;
}
