@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-form {
    @apply py-5 focus:border-green-300 focus:shadow-input outline-none px-6 border-[1.5px] font-roboto
      border-gray-200 rounded
    }
  }

:root {
  height: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global classes */

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.img_loading {
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
    linear-gradient(#ddd, #ddd);
  background-repeat: no-repeat;
  background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
  animation: loading 1.5s infinite alternate;
}

@keyframes loading {
  to {
    background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
  }
}

.btn {
  padding: 0.5625rem 1.875rem; /* 9px 30px */
  background-color: #00c756;
  border-radius: 0.3125rem; /* 5px */
  border: 0;
  transition: 0.3s;
}

.btn-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 0.9375rem;
}

.textsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* 8px */
  max-width: 37rem;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 40px */
}

.title {
  color: #0e2b5c;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.375rem;
  margin: 0;
}

.small-text {
  font: 600 1rem "Roboto", sans-serif;
  color: #00c756;
  line-height: 1.6rem; /* 25.31px */
}

.error_message {
  color: #ef4444;
  font: 400 0.75rem "Roboto", sans-serif;
  line-height: 2rem;
}

.shake_input {
  animation: shakeInput 500ms ease-in-out;
}

.link_more {
  color: #0e2b5c;
  font: 700 1rem "Roboto", sans-serif;
  line-height: 1.2rem;
  border-bottom: 2px solid #00c756;
  padding-bottom: 0.25rem;
  transition: 0.3s ease;
}

.link_more:hover {
  color: #00c756;
  border-bottom-color: transparent;
}

@media (max-width: 630px) {
  .title {
    font-size: 2rem;
    line-height: 2.625rem;
  }

  .texts {
    gap: 1.5rem;
  }

  .small-text {
    font-size: 0.875rem;
  }

  .btn-link {
    line-height: 1.6rem;
  }

  .link_more {
    font-size: 0.875rem;
  }
}

@keyframes shakeInput {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(7px);
  }

  40% {
    transform: translateX(-7px);
  }

  60% {
    transform: translateX(7px);
  }

  80% {
    transform: translateX(-7px);
  }

  100% {
    transform: translateX(0);
  }
}
