.btn {
  position: fixed;
  bottom: 2rem;
  right: 1.31rem;
  padding: 1rem;
  background: #00c756;
  border-radius: 50%;
  box-shadow: 0px 2px 25px 0px rgba(50, 50, 50, 0.08);
  line-height: 0;
  color: white;
}

.btn svg {
  width: 1.5rem;
  height: 1.5rem;
}
