.main_content {
  overflow: hidden;
}

.idlogisticard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f6f7f8;
  padding: 3.5rem 0 6.25rem 0;
}

.texts_logistica {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3.75rem;
}

.title_logistica {
  max-width: 40rem;
  text-align: center;
}

.logistic_card_wrapper {
  max-width: 34.375rem;
  margin: 0 auto;
}

.logistic_card_wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}

.containerImgColetas {
  position: relative;
  margin-right: 1.5rem;
  max-width: 36.875rem;
  width: 100%;
}

.wrapperImgColetas {
  display: flex;
  align-items: center;
  gap: 1.375rem;
  padding: 2.5rem 3.3125rem;
  border-radius: 0.75rem;
  background-color: #00c756;
  font: 700 0.9375rem 'Roboto', sans-serif;
  color: white;
  position: absolute;
  bottom: 0;
  left: -2.2rem;
}

.imgTextColetas {
  max-width: 10rem;
  line-height: 1.6rem;
}

.wrapper_main_img_coletas {
  border-radius: 0.75rem;
  height: 26.875rem;
  overflow: hidden;
}

.coletaimg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.behind {
  position: absolute;
  right: -2.2rem;
  bottom: 0;
  background: #00c756;
  width: 3rem;
  height: 8rem;
  border-radius: 0 0.75rem 0.75rem 0;
  z-index: -1;
}

.idParceiros {
  background: #f6f7f8;
  padding: 3.125rem 1.5rem 0.25rem 1.5rem;
}
.idParceiros *::-webkit-scrollbar {
  height: 5px;
  background: #f6f7f8;
  border-radius: 0.9rem;
}

.idParceiros *::-webkit-scrollbar-thumb {
  background-color: #b0b5ba;
  border-radius: 0.9rem;
}
.content_parceiros {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.texts_parceiros {
  max-width: 42.75rem;
}

.wrapper_parceiros_card {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
  overflow-x: auto;
  touch-action: pan-x;
  width: 100%;
}

@media (max-width: 715px) {
  .containerImgColetas {
    margin: 0;
  }
  .wrapperImgColetas {
    left: 0;
  }
  .behind {
    right: -1.2rem;
  }
  .idParceiros {
    display: grid;
    background-color: white;
    padding: 4rem 2.8rem;
    border-top: 2px solid #eaeaea;
    overflow-x: auto;
  }
  .wrapper_parceiros_card {
    padding: 0;
    width: auto;
  }
  .texts_parceiros {
    display: none;
  }
}

@media (max-width: 450px) {
  .wrapperImgColetas {
    padding: 1.5rem 0 1.5rem 1.5rem;
  }

  .wrapper_main_img_coletas {
    height: 13rem;
  }
  .recycleIcon {
    max-width: 2.5rem;
  }
  .imgTextColetas {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}