.card_wrapper {
  background: white;
  box-shadow: 0px 0.25rem 3.3125rem 0px #2d2b2b21;
  border-radius: 0.6rem;
  position: relative;
}

.img_wrapper {
  height: 15.25rem;
  overflow: hidden;
  margin-right: 2rem;
  border-bottom-right-radius: 0.6rem;
}

.img_wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.4s ease;
  border-bottom-right-radius: 0.6rem;
}

.card_wrapper:hover .img_wrapper img {
  transform: scale(1.1);
}

.categories_wrapper {
  max-width: 12rem;
  width: max-content;
  background-color: #4aab3d;
  border-radius: 0.375rem;
  color: white;
  padding: 0.5rem 1.4rem;
  font: 400 1rem "Roboto", sans-serif;
  text-transform: capitalize;
  margin-left: 2.5rem;
  transform: translateY(-1.4rem);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.categories_wrapper span {
  line-height: 0.9rem;
}

.content_text {
  padding: 0 1.5rem 2.5rem 2.5rem;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #232323;
  font: 500 1.25rem "IBM Plex Sans", sans-serif;
  line-height: 1.5rem;
  min-height: 4.5rem;
}

.timestamp_wrapper {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  color: #525252;
  font: 500 0.75rem "Roboto", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 1.875rem;
}

.timestamp_wrapper span {
  line-height: 1.5rem;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 5.5rem;

  color: #9b9b9b;
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.375rem;
  margin-bottom: 2rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 13px 21px;
  font: 700 0.75rem "Roboto", sans-serif;
  line-height: 14.5px;
  background: white;
  border: 2px solid #0e2b5c;
  border-radius: 0.25rem;
  color: #0e2b5c;
  width: max-content;
  transition: 0.4s ease;
}

.card_wrapper:hover .btn {
  background-color: #0e2b5c;
  color: white;
}

.arrow_icon {
  width: 1.5rem;
  height: 1.5rem;
}

.trace {
  position: absolute;
  bottom: 0;
  right: 0;

  background-color: #eaeaea;
  height: 10px;
  width: 90%;
  border-radius: 0 0 10px 0;
  transition: 0.4s ease;
}

.card_wrapper:hover .trace {
  background-color: #00c756;
}

@media (max-width: 967px) {
  .categories_wrapper {
    margin-left: 1.3rem;
  }
  .content_text {
    padding: 0 1.3rem;
  }
  .btn {
    margin-bottom: 2.5rem;
  }
}
