.idBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 1.5rem;
}

.idBlog.mobile {
  background-color: #f6f7f8;
}

.texts {
  text-align: center;
  margin-top: 3rem;
}

.grid_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.125rem, 23.125rem));
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 3.75rem;
}

.wrapper_loader {
  display: grid;
  place-content: center;
  height: 40vh;
}

.wrapper_link_more {
  margin-top: 3rem;
  text-align: center;
}

@media (max-width: 715px) {
  .idBlog {
    padding: 2.5rem 1.5rem;
  }
  .texts {
    margin-top: 0;
  }
}
