.header {
  background: #870f10 url("../../assets/fundohome.png") no-repeat bottom center /
    cover;
}

.container_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-items: center;
  gap: 9.25rem 3.25rem;
  padding: 0 1.5rem;
}

.paragraph {
  font: 400 1rem "Roboto", sans-serif;
  color: #9b9b9b;
  line-height: 1.7rem;
}

.wrapper_img {
  position: relative;
}

.wrapper_img1 {
  padding: 4.7rem 0;
}

.wrapper_img img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.25rem;
  z-index: 10;
}

.small_box {
  position: absolute;
  top: 3.4rem;
  left: -1.7rem;
  background: #00c756;
  border-radius: 0.25rem;
  width: 6.875rem;
  height: 7.75rem;
}

.medium_box {
  position: absolute;
  bottom: -1.5rem;
  left: -2.4rem;
  background-color: #00c756;
  border-radius: 0.25rem;
  width: 14.875rem;
  height: 11.875rem;
}

.big_box {
  position: absolute;
  bottom: 1.8rem;
  right: -3rem;
  background-color: #00c756;
  border-radius: 0.25rem;
  width: 13.625rem;
  height: 25rem;
  margin-right: 1.5rem;
}

.partners_wrapper {
  display: grid;
  place-content: center;
  background-color: #f6f7f8;
  padding: 5rem;
  margin-top: 7rem;
}

@media (max-width: 1074px) {
  .container_content {
    gap: 5rem;
  }
  .wrapper_img1 {
    padding: 0;
  }
  .big_box {
    margin: 0;
    right: -2.2rem;
    bottom: -2.2rem;
  }
  .small_box {
    top: -1.2rem;
    left: -1.2rem;
  }
  .textsContainer {
    max-width: initial !important;
  }
  .wrapper_img2 {
    grid-row: 4 / 5;
  }
}

@media (max-width: 630px) {
  .container_content {
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  }
  .big_box {
    width: 9.375rem;
    height: 11.25rem;
    right: -1.5rem;
    bottom: -1.5rem;
  }
  .medium_box {
    width: 8.875rem;
    height: 7.25rem;
    left: -1.25rem;
    bottom: -1.25rem;
  }
  .partners_wrapper {
    background-color: white;
    border-top: 1px solid #eaeaea;
    padding: 3rem;
  }
}
