.header {
  background: #1d3864 url("../../assets/parceiros_bg.jpg") no-repeat bottom
    center / cover;
}

.content_texts {
  display: grid;
  padding: 0 1.5rem;
  gap: 12rem;
}

.about_us {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.375rem;
}

.textsContainer {
  flex: 1 0 25rem;
}

.partners {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 3rem 5.125rem;
}

.paragraphs {
  display: grid;
  gap: 1.5rem;
}

.paragraph {
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.7rem;
  color: #9b9b9b;
}

.wrapper_imgs {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  position: relative;
  margin-top: 1rem;
}

.wrapper_imgs .wrapper_img:first-child {
  transform: translateY(2rem);
}

.wrapper_img {
  border-radius: 0.25rem;
  box-shadow: 0px 1px 73px 0px #28282826;
  min-width: 19.5rem;
  max-height: 29.2rem;
  position: relative;
}

.img_person {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sustentabilidade_wrapper {
  display: grid;
  gap: 1.375rem;
  background-color: #00c756;
  border-radius: 0 0.25rem;
  color: white;
  max-width: 13.75rem;
  width: max-content;
  padding: 2rem 0.5rem 2rem 2.3rem;

  position: absolute;
  bottom: 0;
  left: 0;
}

.sustentabilidade_wrapper img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7479%)
    hue-rotate(8deg) brightness(98%) contrast(106%);
}

.sustentabilidade_paragraph {
  font: 700 1.06rem "Roboto", sans-serif;
  line-height: 1.4rem;
}

.wrapper_img_partners {
  position: relative;
  margin-left: 2.5rem;
  max-width: 27.7rem;
  height: 23rem;
  box-shadow: 0px 1px 73px 0px #28282826;
}

.img_partners {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 1px 73px 0px #28282826;
  border-radius: 0.25rem;
}

.wrapper_text_img_partners {
  position: absolute;
  bottom: -3.8rem;
  left: -4.8rem;
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.875rem;
  max-width: 25.625rem;
}

.wrapper_paragraph_text_partners {
  position: relative;
  background-color: #00c756;
  border-radius: 0.25rem;
  padding: 3rem 1.7rem;
}

.paragraph_text_partners {
  color: white;
  font: 700 1.09rem "Roboto", sans-serif;
  line-height: 1.5rem;
}

.quotes_partners {
  position: absolute;
  transform: translateY(0.625rem);
  width: 3.75rem;
  filter: brightness(0) saturate(100%) invert(15%) sepia(68%) saturate(1342%)
    hue-rotate(195deg) brightness(88%) contrast(102%);
}

.partners_card_container {
  display: grid;
  place-content: center;
  width: 100%;
  min-height: 16rem;
  background-color: #f6f7f8;
  margin-top: 7rem;
}

@media (max-width: 730px) {
  .content_texts {
    gap: 6rem;
  }
  .about_us {
    gap: 1rem;
  }
  .textsContainer {
    max-width: initial !important;
  }
  .wrapper_img {
    min-width: 6.875rem;
    min-height: 24.875rem;
  }
  .sustentabilidade_wrapper {
    padding: 2rem 1.5rem;
    min-width: 10rem;
    width: auto;
    gap: 1rem;
  }
  .sustentabilidade_wrapper img {
    width: 2rem;
    height: 2rem;
  }
  .wrapper_img_partners {
    max-width: initial;
    min-width: 15rem;
    margin: 0;
  }
  .wrapper_text_img_partners {
    box-shadow: 0px 5px 16px 0px #3c3a4426;
    max-width: 18rem;
    left: 0;
  }
  .wrapper_paragraph_text_partners {
    padding: 2rem;
  }
  .paragraph_text_partners,
  .sustentabilidade_paragraph {
    font-size: 0.9rem;
  }
}

@media (max-width: 493px) {
  .textsContainer {
    flex: 1 0;
  }
  .wrapper_imgs .wrapper_img:first-child {
    transform: translateY(1.5rem);
  }
  .sustentabilidade_wrapper {
    min-width: auto;
    padding: 1.2rem;
  }
  .sustentabilidade_paragraph {
    font-size: 0.775rem;
  }
  .wrapper_text_img_partners {
    bottom: -2.5rem;
  }
  .wrapper_text_img_partners,
  .wrapper_paragraph_text_partners {
    padding: 1.5rem;
  }
  .quotes_partners {
    transform: translateY(-0.325rem);
  }
}
