.header {
  background: #1d3864 url('../../assets/imgs/partners/bg-header-partners.webp')
    no-repeat bottom center / cover;
}

.partners_card_container {
  display: grid;
  place-content: center;
  width: 100%;
  margin-top: 7rem;
  padding: 4rem 2rem;
}
