/* Header */
.header {
  background: url("../assets/construction1.jpg") no-repeat bottom center / cover;
}

/* Information section */
.content_information {
  display: grid;
  gap: 11.25rem;
}

.first_information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper_img {
  position: relative;
}

.wrapper_img img {
  border-radius: 0.25rem;
}

.experiences_wrapper {
  position: absolute;
  bottom: 2.5rem;
  right: -2.2rem;
  background-color: #00c756;
  color: white;
  border-radius: 0.25rem;
  padding: 4rem 1.2rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.experience_number {
  font-size: 4.1875rem; /* 67px */
  line-height: 6.4375rem; /* 103.24px */
}

.legend_experience_number {
  font-size: 1.06rem;
  line-height: 1.7rem; /* 27px */
}

.paragraph {
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.7rem;
  color: #9b9b9b;
}

.second_information {
  display: grid;
  grid-template-areas:
    "img text"
    "img text";
  gap: 7.125rem 14rem; /* order: row, column */
  align-items: center;
}

.second_information .wrapper_img {
  grid-area: img;
  align-self: end;
  transform: translateY(2rem); /* move img a little bit */
}

.img_second_information {
  transform: translate(2.75rem, -4rem);
}

.box {
  position: absolute;
  bottom: 0;
  background-color: #00c756;
  width: 12.9rem;
  height: 23.45rem;
  border-radius: 0.25rem;
  z-index: -1;
}

.subtitle {
  color: #0e2b5c;
  font: 700 2.25rem "IBM Plex Sans", sans-serif;
  line-height: 1.6rem;
}

/* Contact section */
.contact_content {
  height: 35rem;
  background-color: #5f5f5f;
  margin-top: 8.25rem;
}

.card_wrapper {
  height: 100%;
  display: grid;
  align-content: center;
}

.card_style {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.95rem 3rem;
  width: max-content;
}

/* Partners section */
.partners_content {
  display: grid;
  place-content: center;
  height: 12.5rem; /* 200px */
}
