.main_content {
  background-color: #f1f1f1;
}

.header {
  background: url("../assets/parceiros_bg.jpg") no-repeat bottom center / cover;
}

.content_texts {
  display: grid;
  gap: 12rem;
}

.about_us {
  display: flex;
  gap: 1.375rem;
}

.partners {
  display: flex;
  gap: 8.125rem;
}

.paragraphs {
  display: grid;
  gap: 1.5rem;
}

.paragraph {
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.7rem;
  color: #9b9b9b;
}

.wrapper_imgs {
  display: flex;
  gap: 1.875rem;
  position: relative;
  margin-top: 1rem;
  transform: translateX(3rem);
}

.sustentabilidade_wrapper {
  display: grid;
  gap: 1.375rem;
  background-color: #00c756;
  border-radius: 0 0.25rem;
  color: white;
  max-width: 13.75rem;
  width: max-content;
  padding: 2rem 0.5rem 2rem 2.3rem;

  position: absolute;
  bottom: 0;
  left: 0;
}

.img {
  border-radius: 0.25rem;
  box-shadow: 0px 1px 73px 0px #28282826;
  min-width: 19.5rem;
  max-height: 29.2rem;
}

.img1 {
  background: url("../assets/partners_half_img1.png") no-repeat center / 150%
    135%;
  transform: translateY(2rem);
}

.img2 {
  background: url("../assets/partners_half_img2.png") no-repeat center;
}

.sustentabilidade_wrapper img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7479%)
    hue-rotate(8deg) brightness(98%) contrast(106%);
}

.sustentabilidade_paragraph {
  font: 700 1.06rem "Roboto", sans-serif;
  line-height: 1.4rem;
}

.wrapper_img_partners {
  position: relative;
}

.img_partners {
  box-shadow: 0px 1px 73px 0px #28282826;
  border-radius: 0.25rem;
  max-width: 27.7rem;
}

.wrapper_text_img_partners {
  position: absolute;
  bottom: 0;
  transform: translateX(-6rem);
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.875rem;
  max-width: 25.625rem;
}

.wrapper_paragraph_text_partners {
  position: relative;
  background-color: #00c756;
  border-radius: 0.25rem;
  padding: 3rem 1.7rem;
}

.paragraph_text_partners {
  color: white;
  font: 700 1.09rem "Roboto", sans-serif;
  line-height: 1.5rem;
}

.quotes_partners {
  position: absolute;
  transform: translateY(0.625rem);
  width: 3.75rem;
  filter: brightness(0) saturate(100%) invert(15%) sepia(68%) saturate(1342%)
    hue-rotate(195deg) brightness(88%) contrast(102%);
}

.partners_card_container {
  display: grid;
  place-content: center;
  width: 100%;
  min-height: 16rem;
  background-color: #d9d9d9;
  margin-top: 4rem;
}
