.main_content {
  margin-bottom: 6.9rem;
}

.header {
  background: url("../assets/coletas.jpg") no-repeat center / cover;
}

.content_container {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}

.title {
  max-width: 30rem;
}

.paragraph {
  color: #9b9b9b;
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.7rem;
}

/* Form */
.wrapper_form {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0px 12px 56px 0px #10295421;
  padding: 2.8rem;
  font: 400 1rem "Roboto", sans-serif;
  line-height: 0.9rem;
  width: 37.9rem;
}

.form {
  display: grid;
  gap: 1.5rem;
}

.input {
  padding: 23px 2rem;
  border: 1.5px solid #e7ebef;
  border-radius: 0.25rem;
  color: #232323;
  width: 100%;
  font: inherit;
  outline: 1px solid transparent;
}

.error_input .input,
.error_input .input:focus {
  border: 1.5px solid red;
}

.input:focus {
  border: 1.5px solid #00c756;
}

.input::placeholder,
.select_input {
  color: #929090;
}

.select_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select_input svg {
  width: 1.5rem;
  height: 1.5rem;
}

.location_input {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: #0e2b5c;
  background: #f1f1f1;
  padding: 1.25rem 2.75rem;
  border-radius: 0.25rem;
}

.location_input svg {
  width: 1.125rem;
  height: 1.125rem;
}

.map_wrapper {
  height: 31rem;
}

.btn_collects {
  font: 700 0.9375rem "Roboto", sans-serif;
  line-height: 2.5rem;
  color: white;
}

.btn_collects:hover {
  background: #0e2b5c;
}

.pontos_coleta_wrapper {
  font-family: "Roboto", sans-serif;
  margin-top: 3rem;
}

.title_pontos_coleta {
  font: 700 1.125rem;
  line-height: 1.9rem;
  color: #0e2b5c;
  margin-bottom: 1.5rem;
}

.data_pontos_coleta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29.2rem, 1fr));
  grid-auto-rows: max-content;
  gap: 1.5rem 7.5rem;
  height: 19.125rem;
  padding-right: 4rem;
  overflow-y: auto;
}

.data_pontos_coleta::-webkit-scrollbar {
  width: 9px;
  background-color: #f1f3f5;
  border-radius: 0.9rem;
}

.data_pontos_coleta::-webkit-scrollbar-thumb {
  background-color: #b0b5ba;
  border-radius: 0.9rem;
}

.ponto_coleta {
  padding: 0.25rem 1.125rem;
  transition: 0.3s ease;
}

.ponto_coleta:hover {
  background-color: #f8f7f7;
}

.title_ponto_coleta {
  color: #00c756;
  font: 500 1rem;
  font-style: normal;
  line-height: 1.9rem;
}

.address {
  font: 400 0.875rem;
  line-height: 1.6rem;
  font-style: normal;
  color: #8c8a97;
}
