.container {
  display: grid;
  grid-template-columns: minmax(550px, 778px) minmax(280px, 331px);
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  padding: 0 1.25rem;
  padding-bottom: 6.875rem;
}

.breadcrumb {
  grid-column: span 2;
  display: flex;
  align-items: center;
  font: 400 1rem "Roboto", sans-serif;
  text-transform: capitalize;
  color: #232323;
  margin-top: 3rem;
  margin-bottom: 0.8rem;
}

.subtitle_breadcrumb {
  line-height: 0.9rem;
}

.last_subtitle_breadcrumb {
  color: #8c8a97;
  text-transform: none;
}

.post_container {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.625rem;
  box-shadow: 0px 2px 81px 0px #74747821;
  overflow: hidden;
}

.wrapper_img_post {
  height: 32.875rem;
}

.img_post {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_post_title {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  background-color: white;
  border-radius: 0 0.625rem 0.625rem 0;
  padding: 1.375rem 2.8rem;
  margin-right: 4.875rem;
  transform: translateY(-4.2rem);
}

.wrapper_small_information {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.small_information {
  color: #525252;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4rem;
}

.categories {
  background-color: #00c756;
  border-radius: 0.375rem;
  padding: 0.5rem 1.4rem;
  color: white;
  font-weight: 400;
  max-width: 15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 0.9rem;
  white-space: nowrap;
}

.paragraph {
  color: #9b9b9b;
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.7rem;
  text-align: justify;
  transform: translateY(-4rem);
  white-space: pre-wrap;
  padding: 0 2.8rem;
}

.wrapper_footer_post {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 2.8rem;
  margin-top: auto;
  padding: 1.5rem 0;
  border-top: 0.25rem solid #eaeaea;
  border-bottom: 0.25rem solid #00c756;
}

.tags_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background-color: #00c756;
  border-radius: 0.34rem;
  color: white;
  font: 500 0.75rem "Roboto", sans-serif;
  line-height: 0.8rem;
  padding: 0.5rem 0.6rem;
  text-transform: capitalize;
  transition: 0.3s;
}

.social_media_wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.share {
  color: #525252;
  font: 500 0.875rem "Roboto", sans-serif;
  line-height: 1.5rem;
  margin-right: 0.9rem;
}

.social_media {
  border: 2px solid #929ba2;
  border-radius: 50%;
  line-height: 0;
  padding: 0.625rem;
  color: #0e2b5c;
  transition: 0.3s;
}

.social_media:hover {
  color: #00c756;
}

.social_media svg {
  width: 1.3rem;
  height: 1.3rem;
}

@media (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr;
  }
  .breadcrumb {
    display: none;
  }
  .post_container {
    grid-column: auto;
    margin: 2rem 0;
  }

  .categories {
    padding: 0.5rem 1rem;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 2.875rem;
  }
  .post_container {
    box-shadow: 0px 4px 24px 0px rgba(54, 56, 73, 0.05);
  }
  .wrapper_img_post {
    height: 15.875rem;
  }
  .content_post_title {
    box-shadow: 0px 4px 24px 0px rgba(54, 56, 73, 0.05);
    position: relative;
    gap: 0.5rem;
    padding: 1.375rem 1.5rem;
    padding-bottom: 3.5rem;
    margin-right: 1.5rem;
  }
  .small_information {
    position: absolute;
    bottom: 1.5rem;
  }
  .small_information:nth-child(3) {
    right: 2rem;
  }
  
  .paragraph {
    transform: translateY(-2.5rem);
    padding: 0 1.25rem;
  }
  .wrapper_footer_post {
    margin: 0 1.5rem;
  }
}

@media (max-width: 425px) {
  .categories {
    font-size: 0.9rem;
    white-space: normal;
    line-height: 1.2;
  }

  .title {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }

  .small_information {
    font-size: 0.75rem;
  }
  .share {
    font-size: 0.775rem;
    margin-right: 0.5rem;
  }
  .social_media svg {
    width: 1.1rem;
    height: 1.1rem;
  }
}
