.idBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 77rem;
}

.texts {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3.75rem;
}

.grid_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23.125rem, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.link_more {
  color: #0e2b5c;
  font: 700 1rem "Roboto", sans-serif;
  line-height: 0.9rem;
  border-bottom: 2px solid #00c756;
  padding-bottom: 0.25rem;
  margin-top: 3rem;
  transition: 0.2s;
}

.link_more:hover {
  color: #00c756;
  border-bottom: 2px solid transparent;
}
