.idfaleconosco {
  width: 100%;
  background-image: url("../../assets/Callwithusimg.png");
  height: 49rem;
}

.wrapper_content {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.wrapper_form {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0px 0.375rem 3.875rem 0px #1b1a1a26;
  padding: 3.5rem;
  transform: translateY(7rem);
  z-index: 2;
}

.wrapper_form input,
.wrapper_form textarea {
  padding: 1.25rem;
}

.wrapper_form button {
  width: 100%;
}

.title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.375rem;
  color: white;
}

.description {
  font: 500 1rem "Roboto", sans-serif;
  line-height: 1.6rem;
  color: white;
}
