.wrapper {
  display: flex;
  gap: 2.375rem;
  align-items: center;
  height: 43rem;
}

.paragraph {
  color: #9b9b9b;
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.68rem;
  margin-right: 3rem;
}

.btnColeta {
  width: max-content;
  font: 700 0.9375rem "Roboto", sans-serif;
  line-height: 2.5rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 1.625rem;
}

.btnColeta:hover {
  background: #0e2b5c;
  transform: translateY(-4px);
}

.containerImg {
  position: relative;
}

.wrapperImg {
  display: flex;
  align-items: center;
  gap: 1.375rem;
  padding: 2.5rem 3.3125rem;
  border-radius: 0.75rem;
  background-color: #00c756;
  font: 700 0.9375rem "Roboto", sans-serif;
  color: white;
  position: absolute;
  bottom: 0.3rem;
  left: -2.2rem;
}

.imgText {
  display: flex;
  flex-direction: column;
  gap: 0.625rem; /* 10px */
}

.imgText span {
  line-height: 0.9375rem;
}

.coletaimg {
  border-radius: 0.75rem;
}

.behind {
  position: absolute;
  right: -2.2rem;
  bottom: 0.3rem;
  background: #00c756;
  width: 3rem;
  height: 8rem;
  border-radius: 0 0.75rem 0.75rem 0;
  z-index: -1;
}
