.idDepoiments {
  background: url("../../assets/fundoDepoiments.png") no-repeat center / cover;
  width: 100%;
  height: 40.5rem;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: #fff;
}

.titleFeedback {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.375rem;
}

.paragraph {
  font: 500 1.0625rem "Roboto", sans-serif;
  line-height: 1.6875rem;
}

.btnFeedback {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: max-content;
  color: #e7ebef;
}

.btnFeedback a {
  display: flex;
  gap: 1.6rem;
}

.btnFeedback:hover {
  background: #ffffff;
  color: #0e2b5c;
  transform: translateY(-4px);
}

.carrousel {
  display: flex;
  gap: 3.125rem;
  width: 900px;
}

.carrousel div {
  flex: 0 0 auto;
}
