.idFaq {
  min-height: 58.5rem;
}
.texts {
  margin: 0 auto;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 3.75rem;
}

.container_faq {
  display: flex;
  gap: 4.6rem;
}

.list_faq {
  display: grid;
  gap: 2.125rem;
  list-style-type: none;
  height: max-content;
}

.wrapper_box {
  display: grid;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: white;
  border: 2px solid #eaeaea;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
  height: 4.5rem;
  padding: 1.4rem 1.6rem;
}

.wrapper_box:hover {
  border: 2px solid #00c756;
}

.wrapper_box.last_question {
  height: 5.7rem;
}

.wrapper_box.show_answer {
  border: 2px solid #00c756;
  height: 15rem;
  transition: 0.3s;
}

.question_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #232323;
}

.wrapper_box:hover .question_wrapper {
  color: #00c756;
}

.question_title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  transition: 0.3s ease;
}

.wrapper_box.show_answer .question_title {
  color: #00c756;
}

.answer {
  line-height: 1.6rem;
  font-weight: 500;
  color: #9b9b9b;
}

.icon_plus,
.icon_minus {
  transition: 0.3s ease;
  width: 1.5rem;
  height: 1.5rem;
}

.wrapper_box.last_question .icon_plus,
.wrapper_box.last_question .icon_minus {
  width: 2.5rem;
  width: 2.5rem;
}

.icon_minus {
  color: #00c756;
}
