.containerCard {
  background-color: white;
  border-radius: 0.25rem;
  max-width: 44rem;
  position: relative;
}

.containerCard::after {
  content: "";
  display: block;
  background: url("../assets/seta.svg") no-repeat center;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  bottom: -1.4rem;
  right: 1.5625rem;
}

.card {
  display: flex;
  gap: 2.1875rem;
  padding: 4.18rem 2.8125rem 3.125rem 3.125rem;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.profileImg {
  display: flex;
  border: 0.1525rem solid #00c756;
  border-radius: 50%;
  padding: 0.2rem;
  margin-top: 2.5rem;
  height: fit-content;
}

.profileImg img {
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
}

.starsWrapper {
  display: flex;
  margin-bottom: 1.5rem;
  color: #00c756;
}

.starIcon {
  width: 1.3rem;
  height: 1.3rem;
}

.feedback {
  color: #9b9b9b;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-bottom: 2.5rem;
  max-width: 32.125rem;
}

.person {
  display: grid;
  gap: 0.625rem;
}

.person .name,
.person .job {
  font: 400 0.875rem;
  line-height: 0.9rem;
}

.person .name {
  color: #33303e;
}

.person .job {
  color: #9b9b9b;
}

.quotes {
  position: absolute;
  right: 3rem;
  bottom: 1.25rem;
}
