.intro_container .swiper-wrapper {
  height: 40.5rem;
}
.intro_container .swiper-slide {
  padding: 0 7.25rem;
}
.intro_container .swiper-button-prev,
.intro_container .swiper-button-next {
  padding: 0 3.5rem;
  color: #8e8e8e;
}
.intro_container .swiper-pagination {
  --swiper-pagination-bottom: 2.125rem;
}
.intro_container .swiper-pagination-bullet {
  background: #6a7474;
  border-radius: 1px;
  width: 2.1rem;
  height: 3px;
  opacity: 1;
}
.intro_container .swiper-pagination-bullet-active {
  background: #00c756;
  height: 6px;
}

@media (max-width: 924px) {
  .intro_container .swiper-slide {
    padding: 0 3.25rem;
  }

  .intro_container .swiper-button-next,
  .intro_container .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 529px) {
  .intro_container .swiper-slide {
    padding: 0 1.5rem;
  }

  .intro_container .swiper-wrapper {
    height: 25.375rem;
  }
  .intro_container .swiper-pagination {
    --swiper-pagination-bottom: 1.125rem;
  }
}
