@keyframes zoomImg {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.img_slider {
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.img_slider img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: zoomImg 16s alternate infinite;
}

.homeContent {
  display: grid;
  grid-auto-rows: max-content;
  justify-content: start;
  gap: 2.25rem;
}

.hometitle {
  max-width: 61rem;
  margin: 0;
  margin-top: 7rem;
  color: #ffffff;
  font-size: 4.375rem; /* 70px */
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  line-height: 5.125rem /* 82px */;
  letter-spacing: 1.76px;
}

.homeparagraph {
  max-width: 33.06rem;
  font-size: 1.1875rem; /* 19px */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 2.0625rem;
  color: #ffffff;
}

.btnHome {
  display: flex;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 2.56rem /* 41px */;
  width: max-content;
  color: #ffffff;
  background: #00c756;
  transition: 0.3s;
}
.btnHome:hover {
  color: #0e2b5c;
  background: #ffffff;
  transform: translateY(-4px);
}

@media (max-width: 710px) {
  .homeContent {
    text-align: center;
  }
  .hometitle {
    margin-top: 5rem;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .btnHome {
    margin: 0 auto;
  }
}

@media (max-width: 529px) {
  .homeContent {
    gap: 1.5rem;
  }
  .hometitle {
    margin-top: 3rem;
    font-size: 2.1rem;
    line-height: 2.6rem;
    letter-spacing: 1.11px;
  }
  .homeparagraph {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .btnHome {
    margin-bottom: 3rem;
    font-size: 0.875rem;
    line-height: 2rem;
  }
}
