.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  height: 51.5rem;
}

.containerImg {
  position: relative;
}

.sobreImg {
  border-radius: 0.625rem;
}

.number-garbage-wrapper {
  display: grid;
  gap: 1rem;
  position: absolute;
  top: 5rem;
  left: -2.8rem;
  background-color: #00c756;
  border-radius: 0.5rem; /* 8px */
  padding: 2.25rem 1.125rem 1.56rem 2.25rem;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
}

.number-garbage-wrapper img {
  margin-bottom: 0.4rem;
}

.numbers {
  font-size: 2.125rem; /* 34px */
  line-height: 2.3125rem /* 37px */;
}

.residuos {
  font-size: 1rem;
  line-height: 1.3rem;
  max-width: 10.1rem;
}

.texts {
  display: grid;
  grid-template-areas:
    "subtitle ."
    "title title"
    "p1 p3"
    "p2 list"
    "btn .";
  gap: 1.6rem 1rem;
  font-family: "Roboto", sans-serif;
}

.texts .subtitle {
  color: #00a346;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.texts .subtitle:first-child {
  grid-area: subtitle;
  background: #e0f6e9;
  max-width: max-content;
  padding: 0.4375rem 1.25rem; /* 7px 20px */
  border-radius: 0.25rem; /* 4px */
}

.texts .titleSobre {
  grid-area: title;
  color: #0e2b5c;
  font-size: 2.5rem;
  line-height: 3.375rem;
  font-weight: 700;
}

.paragraphSobre {
  font-size: 1rem;
  line-height: 1.6875rem; /* 27px */
  color: #9b9b9b;
}

.p1 {
  grid-area: p1;
  max-width: 22.75rem;
  color: #0e2b5c;
  font-weight: 500;
}

.p2 {
  grid-area: p2;
  font-weight: 400;
}

.p3 {
  grid-area: p3;
  font-weight: 500;
}

.culturaList {
  grid-area: list;
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.culturaListImg {
  margin-right: 0.5rem;
  height: 1.2rem;
  width: 1.2rem;
  fill: #00c756;
}
.culturaList li {
  display: flex;
  align-items: center;
  color: #9b9b9b;
  gap: 0.3rem;
}

.btnSobre {
  grid-area: btn;
  width: max-content;
  transition: 0.3s;
}

.btnSobre a {
  display: flex;
  gap: 1.625rem; /* 26px */
  font-family: "Roboto", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 2.56rem;
  color: #ffffff;
}

.btnSobre:hover {
  background: #0e2b5c;
  transform: translateY(-4px);
}
