.idcoletas {
    display: grid;
    gap: 2rem;
}
.idcoletas article {
    position: absolute;
}
.idcoletas article h1 {
    font-weight: 600;
    font-style: normal;
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #00C756;
    font-size: 0.8rem;
}
.idcoletas article h2 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #0E2B5C;
    line-height: 2.5rem;
    text-align: left;
    width: 30%;
}
.idcoletas article p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    color: #9B9B9B;
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
    width: 32%;
}
.idcoletas article a {
    position: absolute;
    display: flex;
    text-decoration: none;
    background: #00C756;
    color: #FFFFFF;
    border-radius: 0.3rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    padding: 1.5rem 1rem;
    align-items: center;
    transition: 0.3s;
}
.idcoletas article a span {
    margin-left: 2.5rem;
}
.idcoletas article a:hover {
    background: #0E2B5C;
    transform: translateY(-4px);
}
.coletaimg {
    width: 28rem;
    height: 24rem;
    border-radius: 0.5rem;
}
.behind {
    position: absolute;
    background: #00C756;
    height: 16%;
    width: 3%;
    border-radius: 0.4rem;
}
