.idDepoiments {
    display: flex;
    background: url("../assets/fundoDepoiments.png");
}
.idDepoiments article h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: #00C756;
    line-height: 1rem;
}
.idDepoiments article h2 {
    font-size: 2rem;
    width: 45%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    text-align: left;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 2.5rem;
}
.idDepoiments article a {
    background: #00C756;
    display: flex;
    padding: 1.5rem 0.9rem;
    font-family: 'Robotp', sans-serif;
    font-size: 0.9rem;
    width: max-content;
    color: #FFFFFF;
    border-radius: 0.2rem;
    transition: 0.3s;
    font-style: normal;
    font-weight: 700;
}
.idDepoiments article span {
    margin-left: 1.8rem;
    margin-top: -0.1rem;
}
.idDepoiments article a:hover {
    background: #FFFFFF;
    color: #0E2B5C;
    transform: translateY(-4px);
}
