.header {
  background-color: white;
  box-shadow: 0px 2px 25px 0px #32323214;
}
.header_content {
  display: flex;
  align-items: center;
  gap: 5.125rem;
  height: 6.25rem;
}
.logo {
  width: 15.125rem;
}
.menu {
  display: flex;
  gap: 2.125rem;
  list-style-type: none;
}

.menu li {
  position: relative;
}

.menu li::after {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #00c756;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.menu li:hover::after {
  transform: scaleX(1);
}
.menu .menu_item {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  color: #081e46;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem; /* 15px */
  line-height: 6rem;
  letter-spacing: 0.01875rem;
  transition: 0.3s;
  cursor: pointer;
}
.menu .menu_item:hover,
.menu .menu_item.active {
  color: #00c756;
}

.menu .menu_item.active::before {
  content: "";
  display: block;
  height: 0.2rem;
  width: 100%;
  position: absolute;
  bottom: -0.125rem;
  background-color: #00c756;
}

.menu .menu_item svg {
  width: 1.2rem;
  height: 1.2rem;
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 2.1rem;
}

.lupaicon {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  transition: 0.2s;
}

.lupaicon:hover {
  color: #00c756;
}

.btnContato {
  border: 0;
  background: none;
  outline: 1px solid transparent;
  padding: 0.4375rem 1.2rem;
  background: #0e2b5c;
  border-radius: 0.3125rem;
  transition: 0.3s;
}

.btnContato:hover {
  background: #00c756;
  transform: translateY(-4px);
}

.contato {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 2.56rem;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

.contato svg {
  width: 1.3rem;
  height: 1.3rem;
}

/* Dropdown */
.wrapper_dropdown {
  position: absolute;
  top: 6.1rem;
  left: -2rem;
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.4rem 2rem 0.95rem 2.2rem;
  width: 15rem;
}

.dropdown_list {
  display: flex;
  flex-direction: column;
  font: 400 0.875rem "Roboto", sans-serif;
  line-height: 1.06rem;
  color: #9b9b9b;
  list-style: none;
  position: relative;
}

.dropdown_item {
  display: block;
  padding: 0.95rem 0;
  border-bottom: 1.8px solid #eaeaea;
  transition: 0.3s;
}

.dropdown_item.active,
.dropdown_item:hover {
  border-bottom-color: #00c756;
  color: #00c756;
}

.dropdown_item::before,
.dropdown_item.active::before {
  content: "";
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  background: url("../assets/arrow_link.svg") no-repeat center;
  position: absolute;
  left: -1.2rem;
  transform: translateX(-1.8rem);
  opacity: 0;
  transition: 0.3s ease;
}

.dropdown_item.active::before {
  opacity: 1;
  transform: translateX(0);
}

.dropdown_item:not(.active):hover:before {
  content: "";
  transform: translateX(0);
  opacity: 1;
}

.dropdown_item.last_item,
.dropdown_item.last_item.active {
  border-bottom: 1.8px solid transparent;
}
