.header {
  display: flex;
  align-items: center;
  gap: 5.125rem;
  width: 100%;
  height: 6.25rem;
  background-color: white;
}
.logo {
  width: 15.125rem;
}
.menu {
  display: flex;
  gap: 2.125rem;
  list-style-type: none;
}

.menu li {
  position: relative;
}

.menu li::after {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #00c756;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.menu li:hover::after {
  transform: scaleX(1);
}
.menu a {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  color: #081e46;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem; /* 15px */
  line-height: 6rem;
  letter-spacing: 0.01875rem;
  transition: 0.3s;
}
.menu a:hover,
.menu a.active {
  color: #00c756;
}

.menu a.active::before {
  content: "";
  display: block;
  height: 0.2rem;
  width: 100%;
  position: absolute;
  bottom: -0.125rem;
  background-color: #00c756;
}

.menu a svg {
  width: 1.2rem;
  height: 1.2rem;
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 2.1rem;
}

.lupaicon {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  transition: 0.2s;
}

.lupaicon:hover {
  color: #00c756;
}

.btnContato {
  border: 0;
  background: none;
  outline: 1px solid transparent;
  padding: 0.4375rem 1.2rem;
  background: #0e2b5c;
  border-radius: 0.3125rem;
  transition: 0.3s;
}

.btnContato:hover {
  background: #00c756;
  transform: translateY(-4px);
}

.contato {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 2.56rem;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

.contato svg {
  width: 1.3rem;
  height: 1.3rem;
}
