.home {
    background: linear-gradient(279.42deg, #1F6733 19.24%, #39B54A 87.03%);
    position: relative;
    width: 100%;
    height: 37rem;
    margin: 1.5rem;
}
.title {
    display: flex;
    width: 20.3125rem;
    height: 11.125rem;
    margin-top: 7.3125rem;
    margin-left: 4.4375rem;
    color: var(--white);
}
.title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 153%;
}
.logo {
    background: var(--white);
    position: absolute;
    border-top-left-radius: 1.5rem;
    width: 18rem;
    height: 37rem;
    margin-left: 63rem;
    top: 0rem;
    
}
.logo img {
    position: absolute;
    width: 10.75rem;
    height: 9rem;
    margin-top: 5.2rem;
    margin-left: 4rem;
}
.paragraph {
    display: block;
    position: absolute;
    margin-left: 68rem;
    width: 12rem;
    margin-top: 11rem;
}
.p1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #222222;
}
.p2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #237437;
    margin-top: -0.5rem;
}