.home {
    display: flex;
    background: url('../assets/fundohome.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 28rem;
}
.hometitle {
    display: flex;
    margin-left: 15rem;
    margin-top: 2rem;
    color: #FFFFFF;
    height: 8rem;
    width: 28rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3rem;
}
.homeparagraph {
    display: flex;
    position: absolute;
    width: 35rem;
    margin-left: 15rem;
    margin-top: 11rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: #FFFFFF;
}
.home a {
    position: absolute;
    display: flex;
    margin-top: 7rem;
    margin-left: -0.2rem;
    align-items: center;
    padding: 0.6rem 1.5rem;
    padding-left: 1.5rem;
    gap: 1rem;
    width: 5.5rem;
    height: 2.5rem;
    text-decoration: none;
    color: #FFFFFF;
    background: #00C756;
    border-radius: 0.3125rem;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 1rem;
    transition: 0.3s;
}
.home a:hover {
    background: #22f07b;
    transform: translateY(-4px);
}