.sobre {
    display: flex;
    height: 38rem;
    gap: 3rem;
}
.sobreimg {
    margin-top: 5rem;
    border-radius: 0.625rem;
    margin-left: 15rem;
    width: 20rem;
    height: 25rem;
}
.text {
    display: grid;
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
}
.text h1 {
    color: #00A346;
    font-style: normal;
    font-weight: 600;
    font-size: 0.7rem;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    background: #E0F6E9;
    height: 1rem;
    width: 14.3rem;
}
.text h2 {
    color: #0E2B5C;
    height: 6rem;
    width: 27rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -9.5rem;
}
.paragraph1 {
    margin-top: -14rem;
    width: 16rem;
    height: 6rem;
    align-items: center;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #0E2B5C;
}
.paragraph2 {
    display: flex;
    margin-left: -10rem;
    margin-top: 13.5rem;
    height: 6rem;
    width: 20rem;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    color: #9B9B9B;
}
.paragraph2 p {
    width: 12rem;
    text-align: left;
}
.culturalist {
    position: absolute;
    margin-top: 5.3rem;
    margin-left: -0.1rem;
    align-items: center;
    list-style: none;
    height: 5rem;
    gap: 3rem;
}
.culturalistimg {
    margin-right: 0.5rem;
    height: 0.6rem;
    width: 0.6rem;
    background: #00C756;
    border-radius: 60%;
}
.culturalist li {
    margin-top: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.6rem;
}
.paragraph3 {
    margin-top: 19.8rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 0.7rem;
    position: absolute;
    margin-left: 38rem;
    width: 17.5rem;
    color: #9B9B9B;
}
.button {
    position: absolute;
    margin-top: 26.5rem;
    margin-left: 38rem;
    width: 12rem;
    height: 3rem;
    border-radius: 0.25rem;
    align-items: center;
    background: #00C756;
    transition: 0.3s;
    align-items: center;
}
.button a {
    margin-top: 1rem;
    display: flex;
    height: 3rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin-left: 1.5rem;
    font-size: 0.7rem;
    color: #FFFFFF;
}
.button span {
    margin-left: 1rem;
}
.button:hover {
    background: #0E2B5C;
    transform: translateY(-4px);
}
.card {
    display: flex;
    height: 10.5rem;
    width: 10rem;
    background: url('../assets/Rectangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.6rem;
    position: absolute;
    left: 14rem;
    margin-top: 8rem;
}
.iconplant {
    margin-top: 1rem;
    width: 6rem;
    height: 3.5rem;
}
.linha1 {
    height: 1.5rem;
    width: 0.5rem;
    position: absolute;
    margin-top: 2.2rem;
    margin-left: 1.1rem;

}
.linha2 {
    height: 0.85rem;
    width: 0.5rem;
    margin-top: 2.5rem;
    margin-left: -1.7rem;
}
.linha3 {
    height: 0.8rem;
    width: 0.5rem;
    position: absolute;
    margin-top: 3.2rem;
    margin-left: 1.5rem;
}
.linha4 {
    height: 1rem;
    width: 0.45rem;
    margin-top: 1.5rem;
    margin-left: -0.5rem;
}
.linha5 {
    position: absolute;
    height: 1rem;
    width: 0.5rem;
    margin-top: 1.6rem;
    margin-left: 1.4rem;
}
.linha6 {
    height: 1rem;
    width: 0.5rem;
    margin-top: 3.2rem;
    margin-left: -0.5rem;
}
.linhameio {
    width: 0.8rem;
    height: 1rem;
    position: inherit;
    margin-left: 2.6rem;
    margin-top: 1.9rem;
}
.numbers {
    position: absolute;
    margin-top: 13rem;
    margin-left: 14.7rem;
    color: #FFFFFF;
    font-size: 1.5rem;
    width: 9rem;
    font-weight: bold;
    font-family: 'IBM Plex Sans';
    line-height: 2.3rem;
    font-style: normal;
}
.residuos {
    position: absolute;
    color: #FFFFFF;
    width: 9rem;
    font-size: 0.8rem;
    margin-top: 15.5rem;
    margin-left: 15rem;
    font-weight: bold;
    font-family: 'IBM Plex Sans';
}
