
.location_input {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: #0e2b5c;
  background: #f1f1f1;
  padding: 1.25rem 2.75rem;
  border-radius: 0.25rem;
}

.location_input svg {
  width: 1.125rem;
  height: 1.125rem;
}

.btn_collects {
  font: 700 0.9375rem 'Roboto', sans-serif;
  line-height: 2.5rem;
  color: white;
}

.btn_collects:hover {
  background: #0e2b5c;
}

@media (max-width: 630px) {
  .location_input {
    padding: 1.25rem 2rem;
  }
}