.header {
  background: #815f41 url('../../assets/bg_agende_coleta.png') no-repeat center /
    cover;
}

.container_schedule {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 3.25rem;
  padding: 0 1.5rem;
}

.container_schedule.form_submitted {
  min-height: 42.5rem;
}

.textsContainer {
  text-align: center;
  max-width: 45rem !important;
}

.paragraph {
  font: 400 1rem 'Roboto', sans-serif;
  color: #9b9b9b;
  line-height: 1.375rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  margin-bottom: 8.62rem;
}

.wrapper_field {
  display: grid;
  gap: 0.75rem;
  position: relative;
}

.wrapper_field.name,
.wrapper_field.email,
.wrapper_textarea,
.btn {
  grid-column: 1 / -1;
}

.label_input {
  font: 500 1rem 'Roboto', sans-serif;
  color: #525252;
}

.input {
  font: 400 1rem 'Roboto', sans-serif;
  color: #525252;

  border: 1.5px solid #e7ebef;
  border-radius: 4px;
  outline: 1px solid transparent;
  padding: 1.37rem 1.44rem;
  width: 100%;
}

.wrapper_field.error .input {
  border: 1.5px solid #ef4444;
  box-shadow: 0px 0px 0px 2px rgba(239, 68, 68, 0.35);
}

.input:focus {
  border: 1.5px solid #00c756;
  box-shadow: 0px 0px 0px 2px rgba(0, 199, 86, 0.25);
}

.input::placeholder {
  color: #929090;
}

.textarea {
  resize: none;
  min-height: 9.375rem;
  width: 100%;
}

.error_message {
  position: absolute;
  bottom: -2rem;
}

.error_image,
.wrapper_container_field_image {
  position: relative;
}

.input_image {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.wrapper_field_image {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #061b49;
  cursor: pointer;
  position: relative;
  border: 1.5px solid transparent;
  border-radius: 4px;
  overflow: hidden;
}

.input_image:focus ~ .wrapper_field_image {
  border: 1.5px solid #00c756;
  box-shadow: 0px 0px 0px 2px rgba(0, 199, 86, 0.25);
}

.wrapper_field_image svg {
  width: 1.25rem;
  height: 1.25rem;
}

.input_image_text {
  font: 500 1rem 'Roboto', sans-serif;
  line-height: 1.4rem;
}

.container_images_select {
  /* display: -webkit-box;
  -webkit-line-clamp: 2; */
  max-width: 11rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* height: 24.4px; */
}

.btn {
  font: 700 1rem 'Roboto', sans-serif;
  line-height: 2.5rem;
  color: white;
  margin-top: 1rem;
}

.btn.submitting {
  opacity: 0.6;
  line-height: 0;
  height: 58px;
}

.btn.submitting:hover {
  background-color: #00c756;
}

.btn:hover {
  background-color: #061b49;
}

@media (max-width: 700px) {
  .textsContainer {
    max-width: initial !important;
  }
  .form {
    grid-template-columns: 1fr;
    margin-bottom: 2.5rem;
  }
}
