.aside {
  display: grid;
  grid-auto-rows: max-content;
  gap: 2rem;
  width: 100%;
}

.box_aside_posts {
  display: block;
  padding: 2rem 1.125rem 1.5rem 1.125rem;
  height: max-content;
}

.box_aside,
.box_aside_posts {
  background-color: #f4f4f4;
  border-radius: 0.625rem;
  border-top: 0.3125rem solid #00c756;
  overflow: hidden;
}

.box_aside {
  padding: 2.125rem 2.375rem;
}

.title_box_aside {
  color: #0e2b5c;
  font: 700 1.125rem "Roboto", sans-serif;
  line-height: 0.9rem;
  margin-bottom: 1.5rem;
}

.box_aside_posts .title_box_aside {
  padding: 1rem 1.5rem 0 1.2rem;
}

.recent_post_wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1.5rem auto;
  grid-template-areas:
    "img time"
    "img title";
  gap: 0.25rem 1.25rem;
  padding: 1.25rem;
  transition: 0.3s;
}

.recent_post_wrapper:hover {
  box-shadow: 0px 4px 24px 0px #0000001a;
  background-color: white;
}

.recent_post_wrapper_img {
  grid-area: img;
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: var(--bg-img, #0e2b5c);
}

.recent_post_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent_post_timestamp {
  color: #525252;
  font: 400 0.875rem "Roboto", sans-serif;
  line-height: 1.5rem;
}

.recent_post_title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  hyphens: auto;
  color: #0e2b5c;
  font: 700 0.9rem "IBM Plex Sans", sans-serif;
  line-height: 1.25rem;
  transition: 0.3s;
}

.recent_post_wrapper:hover .recent_post_title {
  color: #00c756;
}

.categories_wrapper {
  display: grid;
  gap: 0.375rem;
}

.category_aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 2px;
  padding: 1.18rem 1.625rem;
  color: #0e2b5c;
  font: 500 0.875rem "Roboto", sans-serif;
  text-transform: capitalize;
  line-height: 0.9rem;
  transition: 0.3s ease;
  overflow: hidden;
}

.category_aside::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background: url("../../assets/icons/arrow_link.svg") no-repeat center;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7479%)
    hue-rotate(8deg) brightness(98%) contrast(106%);
  transform: translateX(-1.5rem);
  transition: 0.3s;
}

.category_aside:hover {
  background-color: #00c756;
  color: white;
}

.category_aside:hover::after {
  transform: translateX(0);
}

.tags_wrapper_aside {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
}

.tag {
  background-color: #00c756;
  border-radius: 0.34rem;
  color: white;
  font: 500 0.75rem "Roboto", sans-serif;
  line-height: 0.8rem;
  padding: 0.5rem 0.6rem;
  text-transform: capitalize;
  transition: 0.3s;
}

.tags_wrapper_aside .tag:hover {
  background-color: #0e2b5c;
}

@media (max-width: 350px) {
  .recent_post_wrapper {
    padding: 0.875rem;
  }

  .recent_post_wrapper_img {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 0.5rem;
  }
  .box_aside {
    padding: 1.5rem;
  }
  .box_aside_posts .title_box_aside {
    padding: 1rem 0 0 1rem;
  }
}
