.wrapper {
  display: grid;
  gap: 8rem;
  position: relative;
  background-color: #0b2653;
  padding-top: 6.625rem;
}

.wrapper_main_content {
  padding: 0 1.5rem;
  color: white;
}

.container_main_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5rem;
}

.main_content {
  display: flex;
  flex-wrap: wrap;
  gap: 2.625rem;
}

.subtitle {
  font: 700 1rem "Roboto", sans-serif;
  line-height: 0.9rem;
}

.paragraph {
  font: 500 0.75rem "Roboto", sans-serif;
  line-height: 1.4rem;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.18rem;
  max-width: 16.375rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.logo_title {
  display: flex;
  flex-direction: column;
  font: 600 1.56rem "IBM Plex Sans", sans-serif;
  line-height: 1.9rem;
}

.logo_subtitle {
  font: 400 0.75rem "Roboto", sans-serif;
  line-height: 1rem;
}

.talk_with_us {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  color: #00c756;
  transition: 0.2s;
}

.talk_with_us:hover {
  color: white;
}

.text_talk_with_us {
  font: 700 1rem "Roboto", sans-serif;
  line-height: 0.9rem;
}

.arrow_circle_icon {
  height: 1.75rem;
  width: 1.75rem;
}

.contact,
.company {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact {
  max-width: 16rem;
}

.address_content {
  display: grid;
  gap: 1.2rem; /* 19px */
}

.address_content .paragraph {
  line-height: 1.5rem;
}

.tel_address {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #00c756;
}

.tel_address:hover {
  color: #fff;
}

.tel_address .tel_img {
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.2s;
}

.tel {
  font: 500 1.5rem "Roboto", sans-serif;
  line-height: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.list_links_company {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style-type: none;
  font: 500 0.75rem "Roboto", sans-serif;
  line-height: 1rem;
}

.list_links_company a {
  transition: 0.1s;
}

.list_links_company a:hover {
  color: #00c756;
}

.wrapper_second_content {
  display: grid;
  place-content: center;
  position: relative;
  background-color: #081e46;
  color: white;
  padding: 0 1.5rem;
}

.copyright {
  font: 500 0.75rem "Roboto", sans-serif;
  line-height: 1rem;
  text-align: center;
  transform: translateY(-1.5rem);
}

.copyright_author {
  color: #00c756;
}
.copyright_author:hover {
  text-decoration: underline;
}

@media (max-width: 1176px) {
  .container_main_content {
    justify-content: center;
  }
}

@media (max-width: 756px) {
  .wrapper {
    padding-top: 3rem;
  }
}
