.form_submitted_wrapper {
  text-align: center;
  padding: 6.63rem 0;
}
.icon_submitted_wrapper {
  width: max-content;
  margin: 0 auto;
  background: rgba(0, 199, 86, 0.2);
  padding: 1.2rem;
  border-radius: 50%;
  line-height: 0;
}

.icon_submitted {
  font-size: 8.67rem;
  color: #00c756;
}

.title_submitted {
  padding: 1.5rem 0;
}

.paragraph_submitted {
  font: 400 1.5rem "Roboto", sans-serif;
  line-height: 1.4rem;
  color: #727272;
}

.btn_submitted {
  width: 100%;
  color: white;
  margin-top: 2rem;
}

@media (max-width: 450px) {
  .form_submitted_wrapper {
    padding: 3rem 0;
  }
  .icon_submitted {
    font-size: 5.67rem;
  }
  .paragraph_submitted {
    font-size: 1.2rem;
  }
}
