.idDepoiments {
  background: #0e2a5a url('../../../assets/fundoDepoiments.png') no-repeat
    center / cover;
  padding: 8rem 0;
  overflow: hidden;
  position: relative;
}

.content {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4.6rem;
  max-width: calc(100vw - ((100vw - 1240px) / 2));
  margin-left: auto;
}

.textsContainer {
  flex: 1;
  margin-left: 1.5rem;
}

.titleFeedback {
  color: white !important;
}

.paragraph {
  font: 500 1.0625rem 'Roboto', sans-serif;
  line-height: 1.6875rem;
}

.btnFeedback {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: max-content;
  color: #e7ebef;
}

.btnFeedback a {
  display: flex;
  gap: 1.6rem;
}

.btnFeedback:hover {
  background: #ffffff;
  color: #0e2b5c;
  transform: translateY(-4px);
}

.carousel_wrapper {
  flex: 1;
  position: relative;
  width: 100vw;
  height: 23.75rem;
  overflow: hidden;
}

.carousel {
  position: absolute;
  max-width: 46.25rem;
}

@media (max-width: 1100px) {
  .idDepoiments {
    padding: 4.5rem 0;
  }
  .content {
    flex-direction: column;
    margin: 0;
    padding: 0 1.5rem;
  }
  .textsContainer {
    margin: 0;
    text-align: center;
  }
  .btnFeedback {
    margin: 0 auto;
  }
  .carousel_wrapper {
    position: static;
    overflow: initial;
    padding: 0 1.5rem;
  }
  .carousel {
    position: static;
  }
}

@media (max-width: 562px) {
  .idDepoiments {
    padding-bottom: 10rem;
  }
  .content {
    gap: 3rem;
  }
}
