.content {
  display: grid;
  gap: 2.5rem;
  width: max-content;
}

.wrapper {
  display: grid;
  gap: 1.25rem;
}

.title {
  font: 700 1rem "Roboto", sans-serif;
  line-height: 1.7rem;
  color: #232323;
}

.address {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0.625rem 0.575rem;
}

.address svg {
  color: #00c756;
  width: 1rem;
  height: 1rem;
}

.address_item {
  color: #8c8a97;
  font: 500 0.75rem "Roboto", sans-serif;
  line-height: 1rem;
}

.opening_hours {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
