* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 100%;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global classes */

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.btn {
  padding: 0.5625rem 1.875rem; /* 9px 30px */
  background-color: #00c756;
  border-radius: 0.3125rem; /* 5px */
  border: 0;
  transition: 0.3s;
}

.btn-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 0.9375rem;
}

.textsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* 8px */
  max-width: 37rem;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 40px */
}

.title {
  color: #0e2b5c;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.375rem;
}

.small-text {
  font: 600 1rem "Roboto", sans-serif;
  color: #00c756;
  line-height: 1.6rem; /* 25.31px */
}
