/* Header */
.header {
  background: #845429 url("../../assets/construction1.jpg") no-repeat bottom
    center / cover;
}

/* Information section */
.content_information {
  display: grid;
  gap: 11.25rem;
}

.first_information {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
}
.textsContainer {
  flex: 1 0 25.325rem;
}

.carousel_wrapper {
  position: relative;
  max-width: 35.4rem;
  padding-right: 1.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.wrapper_img {
  height: 26.375rem;
}

.experiences_wrapper {
  position: absolute;
  bottom: 2.5rem;
  right: -2.2rem;
  background-color: #00c756;
  color: white;
  border-radius: 0.25rem;
  padding: 4rem 1.2rem;
  margin-right: 2.2rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  z-index: 20;
}

.experience_number {
  font-size: 4.1875rem; /* 67px */
  line-height: 6.4375rem; /* 103.24px */
}

.legend_experience_number {
  font-size: 1.06rem;
  line-height: 1.7rem; /* 27px */
}

.paragraph {
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.7rem;
  color: #9b9b9b;
}

.second_information {
  display: grid;
  grid-template-areas:
    "img text1"
    "img text2";
  gap: 7.125rem 14rem; /* order: row, column */
  padding: 0 1.5rem;
}

.second_information .wrapper_img {
  grid-area: img;
  align-self: end;
  position: relative;
  height: 24.1rem;
}

.img_second_information {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  transform: translate(2.75rem, -4rem);
}

.box {
  position: absolute;
  bottom: 0;
  background-color: #00c756;
  width: 12.9rem;
  height: 23.45rem;
  border-radius: 0.25rem;
  z-index: -1;
}

.subtitle {
  color: #0e2b5c;
  font: 700 2.25rem "IBM Plex Sans", sans-serif;
  line-height: 1.6rem;
}

.text1 {
  grid-area: text1;
}

.text2 {
  grid-area: text2;
}

/* Contact section */
.contact_content {
  background-color: #0e2b5c;
  margin-top: 8.25rem;
  position: relative;
}

.wrapper_map {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}

.card_wrapper {
  display: grid;
  align-content: center;
  height: 100%;
  padding: 8rem 1.5rem;
}

.card_style {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.95rem 3rem;
  width: max-content;
  z-index: 100;
}

/* Partners section */
.partners_content {
  display: grid;
  place-content: center;
  height: 12.5rem; /* 200px */
  overflow: auto;
  touch-action: auto;
}

@media (max-width: 1050px) {
  .content_information {
    gap: 5rem;
  }
  .first_information {
    padding: 0 1.5rem;
  }
  .textsContainer {
    max-width: initial !important;
  }
  .second_information {
    grid-template-areas:
      "text1"
      "text2"
      "img";
    justify-items: center;
    gap: 2.5rem;
  }

  .second_information .wrapper_img {
    align-self: auto;
    max-width: 25.75rem;
    height: auto;
  }
  .img_second_information {
    margin-right: 1.5rem;
    transform: translate(0, 0);
  }
  .second_information .box {
    height: 11.875rem;
    bottom: -2rem;
    left: -2rem;
  }
}

@media (max-width: 630px) {
  .first_information {
    justify-content: start;
  }
  .textsContainer {
    flex: 1 0 15rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .carousel_wrapper .wrapper_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .experiences_wrapper {
    bottom: 0;
    left: 0;
    right: auto;
    padding: 2.2rem;
  }
}

@media (max-width: 430px) {
  .card_wrapper {
    padding: 2.5rem 1.5rem;
  }
  .card_style {
    width: auto;
  }
}
