.main_container {
  overflow: hidden;
}

.header {
  background: #845429 url('../../assets/imgs/aboutUs/bg-header-about-us.webp')
    no-repeat bottom center / cover;
}

.contact_content {
  background-color: #0e2b5c;
  margin-top: 8.25rem;
  position: relative;
}

.wrapper_map {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}

.card_wrapper {
  display: grid;
  align-content: center;
  height: 100%;
  padding: 8rem 1.5rem;
}

.card_style {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1.95rem 3rem;
  width: max-content;
  z-index: 100;
}

/* Partners section */
.partners_content {
  display: grid;
  place-content: center;
  height: 12.5rem; /* 200px */
}

@media (max-width: 430px) {
  .card_wrapper {
    padding: 2.5rem 1.5rem;
  }
  .card_style {
    width: auto;
  }
}
